/.quarto/

# MATLAB
**/.MATLABDriveTag
*.asv
*.m

# Renders
__pycache__/
_book/
/env/
/index_files/
/lecture_00/*_files
/lecture_01/*_files
/lecture_02/*_files
/lecture_03/*_files
/lecture_04/*_files
/lecture_05/*_files
/lecture_06/*_files
*.html
*.quarto_ipynb

# LATEX
*.tex
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.pdf
