project:
  type: book

toc: true
number-sections: true
top-level-division: chapter

bibliography: references.bib

filters:
  - pseudocode

pseudocode:
  caption-prefix: "Algorithm"
  reference-prefix: "Algorithm"
  caption-number: true

execute:
  timeout: -1 # No timeout for the entire document

book:
  title: "Learning FEM the Wrong Way"
  author: "Gregory Vernon"
  date: "8/10/2024"
  page-navigation: true
  search: true
  repo-url: https://github.com/GregVernon/LearnFEM/
  repo-actions: [edit]
  downloads: pdf
  reader-mode: true
  chapters:
    - index.qmd
    - part: intro.qmd
    - part: lectures/lecture_00/intro.qmd
      chapters:
        - lectures/lecture_00/change_of_variable.qmd
        - lectures/lecture_00/polynomial_roots.qmd
        - lectures/lecture_00/polynomial_basis.qmd
        - lectures/lecture_00/inner_products.qmd
        - lectures/lecture_00/change_of_basis.qmd
        - lectures/lecture_00/dirac_delta_function.qmd
    - part: lectures/lecture_01/intro.qmd
      chapters:
        - lectures/lecture_01/galerkin_function_approximation.qmd
        - lectures/lecture_01/galerkin_function_approximation_with_boundary_conditions.qmd
    - part: lectures/lecture_02/intro.qmd
      chapters:
        - lectures/lecture_02/galerkin_poisson_equation.qmd
        - lectures/lecture_02/galerkin_heat_equation.qmd
        - lectures/lecture_02/ficks_first_law_equation.qmd
        - lectures/lecture_02/euler_bernoulli_beam_equation.qmd
        # - lectures/lecture_02/elastostatics_equation.qmd
        - lectures/lecture_02/damped_harmonic_oscillator_equation.qmd
    - part: lectures/lecture_03/intro.qmd
      chapters:
        - lectures/lecture_03/piecewise_polynomials.qmd
        - lectures/lecture_03/discontinuous_splines.qmd
        - lectures/lecture_03/continuous_splines.qmd
        - lectures/lecture_03/smooth_splines.qmd
        - lectures/lecture_03/spline_extraction_operators.qmd
        - lectures/lecture_03/solving_pdes_with_usplines.qmd
    - part: lectures/lecture_04/intro.qmd
      chapters:
        - lectures/lecture_04/riemann_quadrature.qmd
        - lectures/lecture_04/polynomial_quadrature.qmd
        - lectures/lecture_04/gauss_quadrature.qmd
        - lectures/lecture_04/moment_fitting.qmd
        - lectures/lecture_04/spline_quadrature.qmd
        - lectures/lecture_04/solving_pdes_with_quadrature.qmd
    - part: lectures/lecture_05/intro.qmd
      chapters:
        - lectures/lecture_05/numerical_core_algorithms.qmd
    - part: lectures/lecture_06/intro.qmd
      chapters:
        - lectures/lecture_06/version_control.qmd
        - lectures/lecture_06/test_driven_development.qmd
    # - summary.qmd
    # - references.qmd

format:
  html:
    theme: darkly
    mainfont: "Open Sans"
    monofont: "Intel One Mono"
    # html-math-method: mathjax
    css: styles.css
    include-in-header:
      text: |
        <script>
        window.MathJax = {
          loader: {
            load: ['[tex]/mathtools', '[tex]/physics']
          },
          tex: {
            packages: {'[+]': ['mathtools', 'physics']},
            macros: {
              Real: "{\\mathbb R}",
              Sobolev: ["\\mathcal{W}^{#1,#2}", 2],
              Hilbert: ["\\mathcal{H}^{#1}", 1],
              Continuity: ["\\mathcal{C}^{#1}", 1],
              Inner: ["\\left\\langle #1, #2 \\right\\rangle", 2],
              Index: ["\\mathrm{#1}", 1],
              ClosedDomainOneDim: [ "\\left\[ {#1},\\ {#2} \\right\]", 2],
              Scalar: ["\\mathrm{#1}", 1],
              Vector: ["\\boldsymbol{\\mathit{#1}}", 1],
              Matrix: ["\\boldsymbol{\\mathrm{#1}}", 1],
              Jacobian: ["\\boldsymbol{\\mathit{J}}"],
              Assembly: ["{\\mathop{\\Large \\boldsymbol{\\mathrm{A}}}\\limits_{\\mathrm{e}=1}^{n_{\\mathrm{el}}} \\bigl( #1 \\bigr)}", 1],
              ChangeBasisOp: ["\\Matrix{R}_{\\tiny{\\Matrix{#1} \\rightarrow \\Matrix{#2}}}", 2],
              DiracDelta: ["\\delta\\left( #1 - #2 \\right)", 2],
              DiracDeltaShort: ["\\delta^{#1}_{#2}", 2],
              defequals: ["\\stackrel{\\text{def}}{=}"],
              d: ["\\mathop{}\\!{d{#1}}", 1],
              p: ["\\mathop{}\\!{\partial{#1}}", 1],
            }
          }
        };
        </script>
  # pdf:
  #   pdf-engine: xelatex
  #   latex-auto-install: true
  #   latex-clean: true
  #   latex-tinytex: false
  #   keep-tex: true
  #   mainfont: "Times New Roman"
  #   monofont: "JuliaMono"
  #   documentclass: scrreprt
  #   include-in-header:
  #     text: |
  #       \usepackage{amsmath}
  #       \usepackage{amssymb}
  #       \usepackage{stackrel}
  #       \usepackage{mathpazo}
  #       \usepackage{mathtools}
  #       \usepackage{physics}
  #       \usepackage{bm}
  #       \newcommand{\Real}{\mathbb{R}}
  #       \newcommand{\Inner}[2]{\left\langle #1, #2 \right\rangle}
  #       \newcommand{\Vector}[1]{\mathbf{\mathit{#1}}}
  #       \newcommand{\Matrix}[1]{\boldsymbol{\mathrm{#1}}}
  #       \newcommand{\Assembly}[1]{ \mathop{\Large \boldsymbol{A}}\limits_{\mathrm{e}=1}^{n_{\mathrm{el}}} \bigl( #1 \bigr)} }
  #       \newcommand{\ChangeBasisOp}[2]{\Matrix{R}_{\tiny{\Matrix{#1}\rightarrow \Matrix{#2}}}}
  #       \newcommand{\DiracDelta}[2]{ \delta\left( #1 - #2 \right) }
  #       \newcommand{\DiracDeltaShort}[2]{ \delta^{#1}_{#2} }
  #       \newcommand{\defequals}{\stackrel{\text{def}}{=}}
  #       \newcommand{\p}{\mathop{}\!{\partial}}
  #       \newcommand{\Index}{\mathrm{#1}}
